/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/h5bp/css/normalize.css";
@import "../../vendor/h5bp/css/main.css";

/*-- Application stylesheets. -----------------------------------------------*/

@function strip-unit($number) {
  @return $number / ($number * 0 + 1);
}

@mixin round-border($radius, $width, $style, $color) {
    border: $width $style, $color;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@import "header";
@import "footer";
@import "game";
@import "card";
@import "board";
@import "player";
