doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title Klondike

    if dev
      link(rel="stylesheet", href="app/debug/index.css")
    else
      if release
        link(rel="stylesheet", href="app/release/index.css")
      else
        link(rel="stylesheet", href="app/debug/index.css")
  body
    main#main(role="main")

    script(type="text/javascript")
      var ua = navigator.userAgent
      window.IE= ua.match(/(msie)\/?\s*(\.?\d+(\.\d+)*)/i);

      function isTouchDevice() {
        return !!('ontouchstart' in window) // works on most browsers
          || !!('onmsgesturechange' in window); // works on ie10
      }

      window.MOBILE = isTouchDevice();

    if dev
      script(data-main="app/config", src="components/requirejs/require.js")
    else
      if release
        script(data-main="dist/release/main", src="components/requirejs/require.js")
      else
        script(data-main="dist/debug/main", src="components/requirejs/require.js")
